@charset "utf-8";

/* CSS Document */

* { margin: 0; padding: 0;}

body { margin-left:auto; margin-right:auto; width:100%; height:100%; }
#princtable { margin-left:auto; margin-right:auto; background-color:#FFFFFF; width:683; height:auto; }

.alb{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:16px;

color:#FFFFFF; 

font-style:normal;

font-weight:bold;

line-height:18px; 

text-decoration:none;

letter-spacing:-1px;

}





.alb_mic{

font-family:Verdana, Arial, Helvetica, sans-serif;

font-size:11px;

color:#FFFFFF; 

font-style:normal;

font-weight:normal;

line-height:15px; 

text-decoration:none;

letter-spacing:-1px;



}



.galben_mic{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:12px;

color:#fffddf; 

font-style:normal;

font-weight:bold;

line-height:14px; 

text-decoration:none;

letter-spacing:-1px;

}



.portocaliu_urias{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:40px;

color:#f7941d; 

font-style:normal;

font-weight:bold;

line-height:37px; 

text-decoration:none;

}



.portocaliu_formular{

font-family:Georgia, "Times New Roman",Times, serif;

font-size: 36px;

color:#f7941d; 

font-style:normal;

font-weight:normal;

/*line-height:37px;*/ 

text-decoration:none;

letter-spacing:-1px;

}



.portocaliu_comanda{

font-family:Georgia, "Times New Roman",Times, serif;

font-size: 30px;

color:#f7941d; 

font-style:normal;

font-weight:normal;

 /*line-height:37px; */

text-decoration:none;

letter-spacing:-1px;

}



.portocaliu_mare{

font-family:Georgia,"Times New Roman", Times, serif;

font-size:24px;

color:#f7941d; 

font-style:normal;

font-weight:normal;

line-height:36px; 

text-decoration:none;

}



.portocaliu_mij{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:20px;

color:#f7941d; 

font-style:normal;

font-weight:normal;

line-height:36px; 

text-decoration:none;

}



.portocaliu_mic{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:12px;

color:#f7941d; 

font-style:normal;

font-weight:normal;

line-height:14px; 

text-decoration:none;

}



.puncte_gri{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:27px;

color:#d1d3d4; 

font-style:normal;

font-weight:bold;

line-height:10px; 

text-decoration:none;

letter-spacing:1px;

}



.gri_mic{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:12px;

color:#77787b; 

font-style:normal;

font-weight:normal;

line-height:14px; 

text-decoration:none;

letter-spacing:0px;



}

.negru_mic_vizualizare
{
font-family:Georgia, "Times New Roman", Times, serif;

font-size:14px;

color:#000000; 

font-style:normal;

font-weight:normal;

line-height:16px; 

text-decoration:none;

letter-spacing:0px;

width:100px;

height:14px;

}

.negru_mic{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:12px;

color:#000000; 

font-style:normal;

font-weight:normal;

line-height:14px; 

text-decoration:none;

letter-spacing:0px;

width:100px;

height:14px;

}



.negru{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:13px;

color:#000000; 

font-style:normal;

font-weight:normal;

line-height:14px; 

text-decoration:none;

letter-spacing:0px;



}
.negru1{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:12px;

color:#000000; 

font-style:normal;

font-weight:normal;

line-height:12px; 

text-decoration:none;

letter-spacing:0px;



}

.gri{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:23px;

color:#808285; 

font-style:normal;

font-weight:bold;

line-height:18px; 

text-decoration:none;

letter-spacing:0px;



}
.gri1{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:14px;

color:#808285; 

font-style:normal;

font-weight:bold;

line-height:12px; 

text-decoration:none;

letter-spacing:0px;



}

.gri_mic2{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:9px;

color:#77787b; 

font-style:normal;

font-weight:normal;

line-height:14px; 

text-decoration:none;

letter-spacing:2px;

}



.gri_mic3{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:11px;

color:#77787b; 

font-style:normal;

font-weight:normal;

line-height:14px; 

text-decoration:none;

letter-spacing:0px;

}



.verde_mic{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:12px;

color:#8bb903; 

font-style:normal;

font-weight:normal;

line-height:13px; 

text-decoration:none;

letter-spacing:0px;

}



.titlu_galben{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:16px;

color:#fffddf; 

font-style:normal;

font-weight:bold;

line-height:13px; 

text-decoration:none;

letter-spacing:-1px;

}





.newsletter{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:11px;

color:#444444; 

font-style:normal;

font-weight:normal;

line-height:13px; 

text-decoration:none;

letter-spacing:0px;

width:125px;

height:11px;

}



.verde_italic{

font-family:Georgia, "Times New Roman", Times, serif;

font-size:12px;

color:#8BB903; 

font-style:italic;

font-weight:normal;

line-height:14px; 

text-decoration:none;

letter-spacing:-1px;

}

